body {
    display:flex;
}

button {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 55px;
}

.calculator {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 8px solid lightseagreen;
}

#display {
    display: flex;
    justify-content: center;
    border: 4px solid black;
    border-radius: 8px;
    font-size: 75px;
    width: 340px;
    height: 50px;
    color:black;
    background-color: lightcyan;
}

.middlePanel {
    display: flex;
    flex: 0 0 25%
}

.buttons {
    
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33.333%;
}

.operators {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#plus, #minus, #mult, #div {
    width: 50px;
    background-color: orange;
}

.bottomPanel {
    display: flex;
    flex-direction: row;
}

#equals {
    width: 75px;
    background-color: lightskyblue;
}
#clear {
    width: 175px;
    background-color: lightcoral;
}
