body {
    display:flex;
    justify-content: center;
    padding: 50px;
}

button {
    border: 4px solid black;
    border-radius: 25px;
    font-size: 55px;
}

.calculator {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    gap: 20px;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: -20px;
    padding-right: -20px;
    border: black solid 8px;
    border-radius: 12px;
    background-color: darkgrey;
}

#screen {
    display:flex;
    border: 5px solid black;
    border-radius: 10px;
    background-color: lightcyan;
    gap: 25px;
}

#display, #displayOperator {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    height: 65px;
    color:black;
    background-color: lightcyan;
}
#display {
    width: 340px;
}

#displayOperator {
    width: 50px;
}

.middlePanel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 25%;
    gap: 30px;
}

.buttons {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:auto;
    gap: 30px;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33.333%;
    gap: 20px;
}

.number, #decimal {
    display: flex;
    align-items: Center;
    justify-content: center;
    height: 75px;
    width: 75px;
}

.operators {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
}

#plus, #minus, #mult, #div {
    width: 80px;
    height: 80px;
    background-color: orange;
}


.bottomPanel, .bottomPanel1 {
    display: flex;
    flex: auto;
    flex-direction: row;
    gap: 20px;
}

#equals {
    width: 225px;
    background-color: lightskyblue;
}
#clear, #delete {
    width: 175px;
    height: 50px;
    font-size: 30px;
    background-color: maroon;
    color:azure;
}

#negative {
    font-size: 46px;
}